<a href="https://colab.research.google.com/github/KamiraPagulayan/CCDATSCL_EXERCISES_COM221/blob/main/EXERCISE_1/EXERCISE_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1

In this activity, you will work with the New York City Airbnb Open Data—a popular, messy, and highly realistic dataset used by data analysts and data scientists around the world. The dataset includes thousands of Airbnb listings along with details about hosts, locations, prices, reviews, and more.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Pmq3Gv7y7z_2Xun-OqMIk43kd5u0TXEatw&s"/>


To guide your work, you will follow the 6-Step Data Wrangling Process, a professional workflow used in industry:

- Discovering. Become familiar with the data by exploring its structure and observing patterns.

- Structuring. Fix issues related to format, column types, indices, and duplicated records.

- Cleaning. Handle missing values, outliers, and inconsistencies so the dataset becomes trustworthy.

- Enriching. Add new features, aggregate information, and enhance the dataset for deeper insights.

- Validating. Apply rule-based checks to ensure the data meets quality standards.

- Publishing. Export and prepare the cleaned dataset for downstream analysis or reporting.
Throughout this exercise, you will answer questions and fill in code cells based on these six steps. You will mimic what professional data scientists do when preparing data for business intelligence dashboards, machine learning models, or exploratory analysis.

In [98]:
import kagglehub
import os
import pandas as pd
import numpy as np

# Download latest version
path = kagglehub.dataset_download("dgomonov/new-york-city-airbnb-open-data")

print("Path to dataset files:", path)

if os.path.isdir(path):
  print(True)

contents = os.listdir(path)
contents

mydataset = path + "/" + contents[0]
mydataset


df = pd.read_csv(mydataset)

Using Colab cache for faster access to the 'new-york-city-airbnb-open-data' dataset.
Path to dataset files: /kaggle/input/new-york-city-airbnb-open-data
True

## A. Discovering

Display the first 10 rows

In [99]:
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

Display the column names:

In [100]:
print(df.columns)

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

Display the dataframe shape:

In [101]:
df.shape

(48895, 16)

Identify the numerical features:

In [102]:
numerical_features = df.select_dtypes(include=['number']).columns
print(numerical_features)

Index(['id', 'host_id', 'latitude', 'longitude', 'price', 'minimum_nights',
       'number_of_reviews', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365'],
      dtype='object')

Identify the categorical features

In [103]:
categorical_features = df.select_dtypes(include=['object']).columns
print(categorical_features)

Index(['name', 'host_name', 'neighbourhood_group', 'neighbourhood',
       'room_type', 'last_review'],
      dtype='object')

What are the top 5 questions this dataset might help answer?

In [104]:
print('1. What factors significantly influence Airbnb listing prices in NYC?')
print('2. How does Airbnb activity vary across different NYC neighbourhood groups?')
print('3. Which neighbourhoods are Airbnb “hotspots,” and what characterizes them?')
print('4. How does room type influence price, availability, and demand?')
print('5. How does hosting behavior (single-hosting vs multi-hosting) affect listing price, availability, and performance?')

1. What factors significantly influence Airbnb listing prices in NYC?
2. How does Airbnb activity vary across different NYC neighbourhood groups?
3. Which neighbourhoods are Airbnb “hotspots,” and what characterizes them?
4. How does room type influence price, availability, and demand?
5. How does hosting behavior (single-hosting vs multi-hosting) affect listing price, availability, and performance?

## B. Structuring

Check if the dataset has proper column types

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

Check if the dataset has index issues

In [106]:
display(df.index)

RangeIndex(start=0, stop=48895, step=1)

Check if the dataset has duplicated rows

In [107]:
df.duplicated().sum()

np.int64(0)

Convert columns to correct types (e.g., dates → datetime).

In [108]:
df['last_review'] = pd.to_datetime(df['last_review'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  datetime64[ns]
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 6.0+ MB

Identify at least one structural issue and describe how to fix it.

In [109]:
df['last_review'] = pd.to_datetime(df['last_review'])

## C. Cleaning

Check for missing values

In [110]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [111]:
df['minimum_nights'].describe()

count    48895.000000
mean         7.029962
std         20.510550
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max       1250.000000
Name: minimum_nights, dtype: float64

In [112]:
percentile_99 = df['minimum_nights'].quantile(0.99)
outliers = df[df['minimum_nights'] > percentile_99]
outliers['minimum_nights']

14        90
36        60
61       180
106       90
245      200
        ...
48205    180
48312     90
48325     60
48368     60
48446    365
Name: minimum_nights, Length: 469, dtype: int64

Check for invalid values (e.g., price ≤ 0)

In [113]:
df[df['price'] <= 0]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
23161,18750597,"Huge Brooklyn Brownstone Living, Close to it all.",8993084,Kimberly,Brooklyn,Bedford-Stuyvesant,40.69023,-73.95428,Private room,0,4,1,2018-01-06,0.05,4,28
25433,20333471,★Hostel Style Room | Ideal Traveling Buddies★,131697576,Anisha,Bronx,East Morrisania,40.83296,-73.88668,Private room,0,2,55,2019-06-24,2.56,4,127
25634,20523843,"MARTIAL LOFT 3: REDEMPTION (upstairs, 2nd room)",15787004,Martial Loft,Brooklyn,Bushwick,40.69467,-73.92433,Private room,0,2,16,2019-05-18,0.71,5,0
25753,20608117,"Sunny, Quiet Room in Greenpoint",1641537,Lauren,Brooklyn,Greenpoint,40.72462,-73.94072,Private room,0,2,12,2017-10-27,0.53,2,0
25778,20624541,Modern apartment in the heart of Williamsburg,10132166,Aymeric,Brooklyn,Williamsburg,40.70838,-73.94645,Entire home/apt,0,5,3,2018-01-02,0.15,1,73
25794,20639628,Spacious comfortable master bedroom with nice ...,86327101,Adeyemi,Brooklyn,Bedford-Stuyvesant,40.68173,-73.91342,Private room,0,1,93,2019-06-15,4.28,6,176
25795,20639792,Contemporary bedroom in brownstone with nice view,86327101,Adeyemi,Brooklyn,Bedford-Stuyvesant,40.68279,-73.91170,Private room,0,1,95,2019-06-21,4.37,6,232
25796,20639914,Cozy yet spacious private brownstone bedroom,86327101,Adeyemi,Brooklyn,Bedford-Stuyvesant,40.68258,-73.91284,Private room,0,1,95,2019-06-23,4.35,6,222
26259,20933849,the best you can find,13709292,Qiuchi,Manhattan,Murray Hill,40.75091,-73.97597,Entire home/apt,0,3,0,NaT,NaN,1,0
26841,21291569,Coliving in Brooklyn! Modern design / Shared room,101970559,Sergii,Brooklyn,Bushwick,40.69211,-73.90670,Shared room,0,30,2,2019-06-22,0.11,6,333
26866,21304320,Best Coliving space ever! Shared room.,101970559,Sergii,Brooklyn,Bushwick,40.69166,-73.90928,Shared room,0,30,5,2019-05-24,0.26,6,139

Apply a missing-value strategy (drop, fill, or flag)

In [114]:
df['reviews_per_month'] = df['reviews_per_month'].fillna(0)
df['is_reviewed'] = df['last_review'].notna()
df['name'] = df['name'].fillna('Unknown')
df['host_name'] = df['host_name'].fillna('Unknown')
df.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
is_reviewed                           0
dtype: int64

Apply an outlier-handling strategy

In [115]:
# put your answer here
# Save in another dataframe the rows with outliers in 'minimum_nights'
outliers_df = df[df['minimum_nights'] > percentile_99]
# Drop the outliers using the 'outliers' dataframe
df.drop(outliers_df.index, inplace=True)
outliers_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 469 entries, 14 to 48446
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              469 non-null    int64
 1   name                            469 non-null    object
 2   host_id                         469 non-null    int64
 3   host_name                       469 non-null    object
 4   neighbourhood_group             469 non-null    object
 5   neighbourhood                   469 non-null    object
 6   latitude                        469 non-null    float64
 7   longitude                       469 non-null    float64
 8   room_type                       469 non-null    object
 9   price                           469 non-null    int64
 10  minimum_nights                  469 non-null    int64
 11  number_of_reviews               469 non-null    int64
 12  last_review                     245 non-null    datetime64[ns]
 13  reviews_per_month               469 non-null    float64
 14  calculated_host_listings_count  469 non-null    int64
 15  availability_365                469 non-null    int64
 16  is_reviewed                     469 non-null    bool
dtypes: bool(1), datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 62.7+ KB

## D. Enriching

Create at least 3 new variables:
- price_per_minimum_night
- review_rate_per_month (combine ratings + frequency)
- is_expensive (boolean flag based on price threshold)

In [116]:
df['room_type'].value_counts()

room_type
Entire home/apt    25109
Private room       22169
Shared room         1148
Name: count, dtype: int64

In [117]:
df['price_per_minimum_night'] = df['price'] / df['minimum_nights']
df['review_rate_per_month'] = df['number_of_reviews'] * df['reviews_per_month']

price_percentile_90 = df.groupby('room_type')['price'].transform(lambda x: x.quantile(0.90))

df['is_expensive'] = (df['price'] > price_percentile_90).astype(int)

In [118]:
df.groupby('room_type')['is_expensive'].value_counts()

room_type        is_expensive
Entire home/apt  0               22600
                 1                2509
Private room     0               19958
                 1                2211
Shared room      0                1036
                 1                 112
Name: count, dtype: int64

In [119]:
df.groupby('room_type')['price'].mean()

room_type
Entire home/apt    211.299574
Private room        88.160675
Shared room         70.215157
Name: price, dtype: float64

Create 1 aggregated summary table

(e.g. average price per neighborhood number of hosts per borough)

In [120]:
df.groupby('neighbourhood_group')[['price', 'price_per_minimum_night']].mean()

                          price  price_per_minimum_night
neighbourhood_group
Bronx                 87.706209                51.259858
Brooklyn             123.678151                57.879018
Manhattan            195.781532                87.974522
Queens                97.144099                55.587430
Staten Island        114.852151                66.118490

## E. Validating

Create at least 3 validation checks
- Price must be positive.
- Host ID should not be null.
- Minimum nights must be ≥ 1.
- Generate a validation report:
- Count of rows violating each rule.

Decide if invalid rows (if any) should be removed or corrected?

In [121]:
print("Rows with non-positive and zero values: ", len(df[df['price'] <= 0]))
print("Rows with <= 0 minimum nights: ", len(df[df['minimum_nights'] <= 0]))
print("Rows with null host_id: ", df['host_id'].isnull().sum())

Rows with non-positive and zero values:  11
Rows with <= 0 minimum nights:  0
Rows with null host_id:  0

In [122]:
# Drop rows where price is <= 0
df = df[df['price'] > 0]

In [123]:
df.isna().sum()

id                                   0
name                                 0
host_id                              0
host_name                            0
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       9827
reviews_per_month                    0
calculated_host_listings_count       0
availability_365                     0
is_reviewed                          0
price_per_minimum_night              0
review_rate_per_month                0
is_expensive                         0
dtype: int64

In [124]:
df['review_rate_per_month'] = df['review_rate_per_month'].fillna(0)

## F. Publishing

Select final columns for publication.

In [125]:
df = df.drop(['last_review', 'reviews_per_month'], axis=1)

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48415 entries, 0 to 48894
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48415 non-null  int64
 1   name                            48415 non-null  object
 2   host_id                         48415 non-null  int64
 3   host_name                       48415 non-null  object
 4   neighbourhood_group             48415 non-null  object
 5   neighbourhood                   48415 non-null  object
 6   latitude                        48415 non-null  float64
 7   longitude                       48415 non-null  float64
 8   room_type                       48415 non-null  object
 9   price                           48415 non-null  int64
 10  minimum_nights                  48415 non-null  int64
 11  number_of_reviews               48415 non-null  int64
 12  calculated_host_listings_count  48415 non-null  int64
 13  availability_365                48415 non-null  int64
 14  is_reviewed                     48415 non-null  bool
 15  price_per_minimum_night         48415 non-null  float64
 16  review_rate_per_month           48415 non-null  float64
 17  is_expensive                    48415 non-null  int64
dtypes: bool(1), float64(4), int64(8), object(5)
memory usage: 6.7+ MB

In [127]:
df.isna().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
calculated_host_listings_count    0
availability_365                  0
is_reviewed                       0
price_per_minimum_night           0
review_rate_per_month             0
is_expensive                      0
dtype: int64

Export cleaned dataset as "cleaned_airbnb.csv"

In [128]:
df.to_csv('cleaned_airbnb.csv', index=False)

Export summary reports (e.g., validation or aggregations) as CSV.

In [129]:
df.groupby('neighbourhood_group')[['price', 'price_per_minimum_night']].mean().to_csv('average_price_and_price_per_minimum_night_per_borough.csv')